.D-main{
    /* height: 250px; */
    /* width: 113%; */
    /* margin: 20px; */
    border: 1px solid rgb(173, 171, 171);
    border-radius: 10px;
    
   
}
.D-img{
 margin: 20px;
}
.main{
    border: 1px solid gray;
    height: 300px;
    width: 1300px;
    margin: 20px;
    display: inline-block;
}
/* .aa{
    border: 1px solid gray;
    height: 150px;
    width: 450px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px; */
    /* display: inline-block; */

/* .bb{
    border: 1px solid gray;
    height: 150px;
    width: 450px;
    margin: 20px;
    border-radius: 15px 15px 15px 15px;
} */